In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [93]:
df_buyer = pd.read_csv('BaseDatosBuyer.csv')
df_buyer.head()

,C+ID,CONJUNTO,STATUS,ASESOR,FECHA,GÉNERO,EDAD,PAÍS,CIUDAD,PROFESIÓN,OCUPACIÓN,ESTADO CIVIL,INGRESOS MENSUALES,CANALES
0,XA1,X,DISPONIBLE,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XA2,X,VENDIDO,BM (CARLOS),1/4/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XA3,X,DISPONIBLE,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,XA4,X,DISPONIBLE,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,XA5,X,VENDIDO,BM (CARLOS),1/4/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df_buyer1 = df_buyer[df_buyer['STATUS']=='VENDIDO']
df_buyer1.head()

,C+ID,CONJUNTO,STATUS,ASESOR,FECHA,GÉNERO,EDAD,PAÍS,CIUDAD,PROFESIÓN,OCUPACIÓN,ESTADO CIVIL,INGRESOS MENSUALES,CANALES
1,XA2,X,VENDIDO,BM (CARLOS),1/4/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,XA5,X,VENDIDO,BM (CARLOS),1/4/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,XA6,X,VENDIDO,INNVERTO,6/4/2025,HOMBRE,31.0,COLOMBIA,CALI,FUTBOLISTA,INDEPENDIENTE,CASAD@,$5.000.000,SOY REFERIDO
7,XA8,X,VENDIDO,GABRIELA RODRIGUEZ,17/11/2024,MUJER,47.0,COLOMBIA,CALI,ADMINISTRADORA,EMPLEAD@,SOLTER@,$4.000.000,SOY REFERIDO
11,XA12,X,VENDIDO,ANDREA OROZCO,31/7/2024,HOMBRE,53.0,COLOMBIA,CALI,EJECUTIVO BANCARIO,EMPLEAD@,CASAD@,$3.500.000,LOS VI EN REDES

In [95]:
df_buyer1['ASESOR'].unique()

array(['BM (CARLOS)', 'INNVERTO', 'GABRIELA RODRIGUEZ', 'ANDREA OROZCO',
       'DACION', 'LAURA DANIELA GALLO', 'ISABEL ARBOLEDA ', 'TRASLADO',
       'ISABEL ARBOLEDA', 'BM (CAMILO)', 'TRANSLADO VP', 'TRASLADO VP',
       'VALERIA YEPES', 'BM (HITALO)', 'JANIER VERA', 'JULIANA GIRONZA',
       'BM (DABEIDA)', 'BM (ENDO)'], dtype=object)

In [96]:
df_buyer1.loc[
    (df_buyer1['ASESOR'] == 'TRANSLADO VP') | (df_buyer1['ASESOR'] == 'TRASLAD0 VP'),
    'ASESOR'
] = 'TRASLADO'

In [97]:
df_buyer1['ASESOR'].unique()

array(['BM (CARLOS)', 'INNVERTO', 'GABRIELA RODRIGUEZ', 'ANDREA OROZCO',
       'DACION', 'LAURA DANIELA GALLO', 'ISABEL ARBOLEDA ', 'TRASLADO',
       'ISABEL ARBOLEDA', 'BM (CAMILO)', 'TRASLADO VP', 'VALERIA YEPES',
       'BM (HITALO)', 'JANIER VERA', 'JULIANA GIRONZA', 'BM (DABEIDA)',
       'BM (ENDO)'], dtype=object)

In [98]:
asesor_drop = ['BM (CARLOS)','DACION','BM (CAMILO)','BM (HITALO)','BM (DABEIDA)','BM (ENDO)']
df_buyer1 = df_buyer1[~df_buyer1['ASESOR'].isin(asesor_drop)]

In [99]:
df_buyer1['ASESOR'].unique()

array(['INNVERTO', 'GABRIELA RODRIGUEZ', 'ANDREA OROZCO',
       'LAURA DANIELA GALLO', 'ISABEL ARBOLEDA ', 'TRASLADO',
       'ISABEL ARBOLEDA', 'TRASLADO VP', 'VALERIA YEPES', 'JANIER VERA',
       'JULIANA GIRONZA'], dtype=object)

In [100]:
df_buyer1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 215 entries, 5 to 634
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   C+ID                215 non-null    object
 1   CONJUNTO            215 non-null    object
 2   STATUS              215 non-null    object
 3   ASESOR              215 non-null    object
 4   FECHA               215 non-null    object
 5   GÉNERO              214 non-null    object
 6   EDAD                211 non-null    float64
 7   PAÍS                215 non-null    object
 8   CIUDAD              206 non-null    object
 9   PROFESIÓN           168 non-null    object
 10  OCUPACIÓN           212 non-null    object
 11  ESTADO CIVIL        212 non-null    object
 12  INGRESOS MENSUALES  212 non-null    object
 13  CANALES             210 non-null    object
dtypes: float64(1), object(13)
memory usage: 25.2+ KB

In [101]:
df_buyer1.isnull().sum()

C+ID                   0
CONJUNTO               0
STATUS                 0
ASESOR                 0
FECHA                  0
GÉNERO                 1
EDAD                   4
PAÍS                   0
CIUDAD                 9
PROFESIÓN             47
OCUPACIÓN              3
ESTADO CIVIL           3
INGRESOS MENSUALES     3
CANALES                5
dtype: int64

In [102]:
df_buyer1['INGRESOS MENSUALES'] = df_buyer1['INGRESOS MENSUALES'].astype(str)

df_buyer1['INGRESOS MENSUALES'] = df_buyer1['INGRESOS MENSUALES'].str.replace(r'[\$,\.]', '', regex=True)

df_buyer1['INGRESOS MENSUALES'] = df_buyer1['INGRESOS MENSUALES'].str.strip()

df_buyer1['INGRESOS MENSUALES'] = pd.to_numeric(df_buyer1['INGRESOS MENSUALES'], errors='coerce')

df_buyer1['INGRESOS MENSUALES'] = df_buyer1['INGRESOS MENSUALES'].fillna(0).astype(int)

In [108]:
df_buyer1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 215 entries, 5 to 634
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   C+ID                215 non-null    object
 1   CONJUNTO            215 non-null    object
 2   STATUS              215 non-null    object
 3   ASESOR              215 non-null    object
 4   FECHA               215 non-null    object
 5   GÉNERO              214 non-null    object
 6   EDAD                211 non-null    float64
 7   PAÍS                215 non-null    object
 8   CIUDAD              206 non-null    object
 9   PROFESIÓN           168 non-null    object
 10  OCUPACIÓN           212 non-null    object
 11  ESTADO CIVIL        212 non-null    object
 12  INGRESOS MENSUALES  215 non-null    int64
 13  CANALES             210 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 25.2+ KB